<div class="row">
    
    <div class="col-md-3 mb-4">
        <h5 class="mb-3 text-muted">Kategoriler</h5>
        <app-category-menu (categoryClick)="onCategoryChange($event)"></app-category-menu>
    </div>

    <div class="col-md-9">
        
        @if (dataLoaded() == false) {
             <div class="text-center mt-5">
                 <div class="spinner-border text-primary"></div>
                 <p>Ürünler Yükleniyor...</p>
             </div>
        }

        @if (dataLoaded()) {
            <div class="row">
                @for (product of products(); track product.id) {
                    <div class="col-md-4 mb-4"> <div class="card h-100 shadow-sm">
                           <img [src]="getproductImageUrl(product.imageUrl)" class="card-img-top" 
                                style="height: 200px; object-fit: cover;">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ product.productName }}</h5>
                                <p class="card-text text-muted">{{ product.description }}</p>
                                <h6 class="text-primary fw-bold">{{ product.price | currency:'TRY':'symbol-narrow' }}</h6>
                                <button class="btn btn-outline-primary mt-auto" (click)="addToCart(product)">
                                    Sepete Ekle
                                </button>
                            </div>
                       </div>
                    </div>
                }
            </div>
            
            @if(products().length === 0){
                <div class="alert alert-warning">
                    Bu kategoride henüz ürün bulunmamaktadır.
                </div>
            }
        }
    </div>
</div>